{% extends "navbar.html" %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

<!-- External CSS -->
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="login-box">
        <h3 class="text-center">Change Password</h3>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Username</label>
                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Enter username">
            </div>

            <div class="form-group">
                <label>Current Password</label>
                <input type="password"
                       name="current_password"
                       class="form-control"
                       placeholder="Enter current password">
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password"
                       name="new_password"
                       class="form-control"
                       placeholder="Enter new password">
            </div>

            <!-- Button triggers modal -->
            <button type="button"
                    class="btn btn-primary btn-block"
                    data-toggle="modal"
                    data-target="#confirmModal">
                Submit
            </button>
        </form>
    </div>

</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">

            <div class="modal-header">
                <h5 class="modal-title">Confirm Action</h5>
                <button type="button" class="close text-white" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <div class="modal-body text-center">
                Are you sure you want to change your password?
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                </button>

                <!-- REAL SUBMIT BUTTON -->
                <button type="submit" formmethod="POST" class="btn btn-primary">
                    Yes, Change
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}