<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Movie</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-light">

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-black px-4">
    <span class="navbar-brand">OTT Admin</span>
    <a href="#" class="btn btn-outline-light btn-sm">Logout</a>
</nav>

<div class="container mt-4">

    <h4 class="mb-4">Edit Movie</h4>

    <div class="card bg-secondary text-light shadow">
        <div class="card-body">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- MOVIE TITLE -->
                <div class="mb-3">
                    <label class="form-label">Movie Title</label>
                    <input type="text"
                           name="title"
                           value="{{ movie.title }}"
                           class="form-control bg-dark text-light border-0">
                </div>

                <!-- DESCRIPTION -->
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="description"
                              rows="4"
                              class="form-control bg-dark text-light border-0">{{ movie.description }}</textarea>
                </div>

                <!-- IMAGE -->
                <div class="mb-3">
                    <label class="form-label">Change Poster</label>
                    <input type="file" name="image"
                           class="form-control bg-dark text-light border-0">
                </div>

                <!-- VIDEO -->
                <div class="mb-4">
                    <label class="form-label">Change Video</label>
                    <input type="file" name="video"
                           class="form-control bg-dark text-light border-0">
                </div>

                <!-- BUTTONS -->
                <div class="d-flex justify-content-end">
                    <a href="{% url 'movies' %}" class="btn btn-outline-light me-2">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-warning">
                        Update Movie
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

</body>
</html>
