<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}OTT Admin{% endblock %}</title>

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- External OTT Style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="bg-dark">

<nav class="navbar navbar-expand-lg navbar-dark ott-navbar px-4">

    <!-- Brand -->
    <a class="navbar-brand font-weight-bold text-white"
       href="{% url 'movies' %}">
        OTT Admin
    </a>

    <!-- Right side -->
    <div class="ml-auto d-flex align-items-center">

        <a href="{% url 'movies' %}" class="btn ott-nav-btn mr-2">
            Movies
        </a>

       

        <a href="{% url 'report' %}" class="btn ott-nav-btn mr-2">
            Reports
        </a>

        <a href="{% url 'user_history' %}" class="btn ott-nav-btn me-2">
             User History
        </a>

        <a href="{% url 'accsettings' %}" class="btn ott-nav-btn mr-3">
            Settings
        </a>

        <a href="{% url 'adminlogin' %}" class="btn btn-outline-light btn-sm">
            Logout
        </a>

    </div>
</nav>

{% block content %}
{% endblock %}

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

